.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.welcometitle {
  margin-top: 10%;
  text-align: center;
  color: white;
}

.welcomemessage {
  text-align: center;
  color: white;
  margin-bottom: 30%;
}
/* 
body {
  background-image: url(https://cdnb.artstation.com/p/assets/images/images/002/868/989/medium/allan-bernardo-13392070-1325357557480517-4653509842494679556-o.jpg?1472412390);
} */
